<footer class="flex flex-col md:flex-row  justify-between items-center p-4 gap-8 md:gap-0  w-full md:px-4">
  <h2 class="font-bold text-xl lg:text-2xl text-[#F95959]">
    <a>Masader+</a>
  <h2/>
  <ul class="flex flex-col md:flex-row items-center gap-4">
    <li><a target="_blank" href="{{site.baseurl}}/changelog" class="font-medium capitalize text-black hover:underline hover:text-black">changelog</a></li>
    <li><a target="_blank" href="https://discord.gg/aN2vaec9nV" class="font-medium capitalize text-black hover:underline hover:text-black">community</a></li>
    <li><a target="_blank" href="https://github.com/ARBML/masader#contribution" class="font-medium capitalize text-black hover:underline hover:text-black">contributing</a></li>
    <li><a target="_blank" href="https://github.com/ARBML/masader" class="font-medium capitalize text-black hover:underline hover:text-black">repository</a></li>
  </ul>
</footer>

<!-- common files -->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="{{site.baseurl}}/assets/js/navigation.js"></script>

{% for item in page.foot_scripts %}
    {% if item contains '://' %}
        <script src="{{ item }}"></script>
    {% else %}
        <script src="{{ site.baseurl }}/{{ item }}"></script>
    {% endif %}
{% endfor %}
