<nav class="flex justify-between items-center h-16 lg:h-20 w-full px-4 lg:px-8">
  <div class="flex gap-8 justify-between items-center">
	  <h2 class="font-bold text-xl lg:text-2xl text-[#F95959]">
		  <a href="{{ site.baseurl }}/" class="hover:text-inherit">Masader</a>
	  </h2>
    <ul class="md:flex items-center gap-4 hidden">
      {% for item in site.data.page.nav.tabs %}
        <li>
          <a href="{% if item.url contains '://' %} {{ item.url }} {% else %} {{ site.baseurl }}{{item.url}} {% endif %}" class="capitalize font-medium">
            {{ item.title }}
          </a>
        </li>
      {% endfor  %}
    </ul>
  </div>
  <ul class="flex gap-8 items-center">
    <li class="block md:hidden">
      <i class="fa-solid fa-ellipsis"></i>
    </li>
    <li class="hidden md:block">
      <a target="_blank" href="https://discord.gg/aN2vaec9nV">
        <i class="fa-brands fa-discord text-blue-500"></i>
      </a>
    </li>
    <li class="hidden md:block">
      <a target="_blank" href="https://github.com/ARBML/masader">
      <i class="fa-brands fa-github"></i>
      </a>
    </li>
  </ul>
</nav>
