.reportData {
    resize: none;
    width: 100%;
    border-radius: 7px;
    border-color: rgb(209, 44, 44);
}

.reportBtns {
    color: #fff8f0 !important;
    border-radius: 7px;
    text-align: center;
    font-family: Georgia;
}

.reportBtns:hover {
    opacity: 80%;
}

#sendReportBtn {
    left: 25%;
    width: 50%;
    border: none;
    font-size: medium;
}

#table {
    padding-left: 0% !important;
}

#table_card {
    padding-left: 0% !important;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
	text-decoration: none;
}
.my-float{
	margin-top:16px;
}

#paperATag:hover{
    color: black;
}

#anonymousDivTag:hover{
    color: black;
}