---
layout: default
---


<section
    style="background: linear-gradient(180deg, #fffefc -54.51%, #fff8f0 99.98%)"
    id="home"
>
    <div class="container">
       {{ content }}
    </div>
</section>
<style>
    .container h2 {
        margin-top: 20px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 2px solid black;
    }
    .container h1 {
        font-size: 2rem;
        text-align: center;
    }
    .container h2{
        font-size: 1.5rem;
    }
    .container h3{
        font-size: 1.25rem;
    }
    .container ul {
        list-style: disc;
        padding-left: 32px;
    }
    .container a {
        color: #5022e2;;
    }
</style>
